*{
  font-family: Roboto;


}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  border-radius: 50%;
  border: 2px solid black;
  margin: 2vh 0 0 0;
}

button{
  background-color: rgb(246, 246, 246); 
  padding: 1.5vh;
  font-size: medium;
}

.container{
  display: flex;
  height: 400px;
  margin: 2vh;
  flex-direction: row;
  align-items: start;
}

.map{
  height:100%;
  margin: 0 1vw;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30vw;
  border: solid rgb(246, 246, 246) 4px;
}

.headline{
  display: flex;
  background-color: rgb(246, 246, 246); 
  padding: 1vw;
  font-weight: bold;
}

.story{
  padding: 1vw;
}


p{
  margin: 0 0 3vh 0 ;
  max-width:80vw;
  text-align: center;
}