*{
  font-family: Roboto;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{

}

p{

}

button{

}

.container{

}

.map{

}

.story-container {

}

.headline{

}

.story{

}